
body {
    font-size: 10px;
}
#achtergrond {
    margin: auto;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
   
}
#banner img{
    margin: auto;
    margin-top: 50px;
    margin-left: 100px;
}
h1{
  text-align: center;
  font-family: serif;
  position: absolute;
  margin-left: 5px;
  left: 165px;
  margin-top: 220px;
  color: black;
 

}
header{
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.profiel{
    margin-top: 300px;
    margin-bottom: 50px;
}



section {

display: flex;
margin-left: 20px;
margin-right: 20px;

} 

.profiel img {
    
    border:4mm ridge rgb(10, 1, 1);
    max-width: 100%; 
}



ul{
    margin-left: 50px;
    margin-top: 20px;
    font-size: 1.5em;
    font-family: serif;
}


.getuigenis img{
    border-radius: 50% 20% / 10% 40%;
    margin-bottom: 20px;
}

.comics{
    margin-top: 50px;
}

.comics img{
    border-radius: 30px;
}
h2{
    text-align: center;
    font-size: 2em;
    font-family: serif;
    margin-bottom: 50px;
    
}

p{
    font-size: 1.5em;
    font-family: serif;
    margin-top: 20px;
}


footer {
    font-size: 1.3em;
    text-align: center;
    font-family: serif;
}
#footer_link{
    font-family: serif;
    color: black;
    border-bottom: 3px solid black;
    
}





  



  

  
  /* media query voor desktop-formaat */
  
  @media only screen and (min-width: 992px) {
    #achtergrond img {
      width: 100%;
      height: auto;
    }
    #banner img{
        margin-left: 200px;
        margin-top: 200px;
        width: 100%;
  } 
  
    h1 {
      top: 300px;
      left: 350px;
      font-size: 45px;
   
    }
    .profiel{
        margin-top: 700px;
        margin-bottom: 50px;
    }

    h2{
        font-size: 4em;
    }
    p{
        font-size: 2.5em;
    }
    ul{
        font-size: 2.5em
    }
    img{
        width: 250px;
    }
    
  }
