body {
    font-size: 10px;
}

#achtergrond {
    margin: auto;

   
}

#banner {
    margin: auto;
    position: absolute;
    top: 90px;
    left: 75px;
    



}


h1 {
    text-align: center;
    font-family: serif;
    position: absolute;
    margin-left: 5px;
    left: 145px;
    top: 215px;




}

header{
    margin-bottom: 0px;
}
* {
    padding: 0;
    margin: 0;
    font-family: Trebuchet MS;
   }

.menu {
    margin: auto;
    padding: 5px;
    border: 1px solid black;
    background-color:gray;
    text-align: center;
    
   }
    
   .menu ul li {
    display: inline;
    padding: 0 5px;
    width: 40px;
   }
    
   .menu ul li a, a:link, a:visited, a:active {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
   }
    
   .menu ul li a:hover {
    color: #FFF;
    border-bottom: 3px solid #FFF;
   }
.profiel{
    margin-top: 50px;
    margin-bottom: 50px;
}



section {

display: flex;
margin-left: 20px;
margin-right: 20px;

} 

.profiel img {
    
    border:4mm ridge rgb(10, 1, 1);
    max-width: 100%; 
}



ul{
    margin-left: 50px;
    margin-top: 20px;
    font-size: 1.5em;
    font-family: serif;
}


.getuigenis img{
    border-radius: 50% 20% / 10% 40%;
    margin-bottom: 20px;
}

.comics{
    margin-top: 50px;
}

.comics img{
    border-radius: 30px;
}
h2{
    text-align: center;
    font-size: 2em;
    font-family: serif;
    margin-bottom: 50px;
    
}

p{
    font-size: 1.5em;
    font-family: serif;
    margin-top: 20px;
}


footer {
    font-size: 1.3em;
    text-align: center;
    font-family: serif;
}
#footer_link{
    font-family: serif;
    color: black;
    border-bottom: 3px solid black;
    
}