body{
    font-size: 11px;
}

#achtergrond{
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    
    
}
#banner{
    position:absolute;
    top: 20px;
    margin-left: 20px;
    
    
    
}


h1{
    text-align: center;
    font-family: serif;
    position: absolute;
    left: 170px;
    top: 135px;
    
    
    
    

           
}


footer{
    font-size: 1.3em;
    text-align: center;
}

