body{
    font-size: 17px;
}

h1{
    text-align: center;
    font-family: serif;
    
    
    
    

           
}

footer{
    font-size: 1.3em;
    text-align: center;
}



.vijanden{
    background-color: rgb(172, 155, 155) ;
}



.vrienden{
    background-color: rgb(212, 189, 189) ;
}



body{
    background-color: rgb(236, 236, 236) ;
}




.vijanden{
    background-color: rgb(1, 0, 7) ;
}



.vrienden{
    background-color: rgb(69, 13, 3) ;
}


.vrienden{
    background:darkred ;
}



.vijanden{
    background-color: rgb(11, 6, 54) ;
}


header{
    margin-bottom: 20px;
}













.getuigenis{
    background:grey ;
}





body{
    background-color: rgb(236, 236, 236) ;
}


@media all and (min-width: 700px) {
    header{
    
    }
    h2{
        font-size: 3.5em;
    }
    p{
        font-size: 2.2em;
    }
}







#site-container {
  
 
    display: grid;
      grid-template-rows: repeat(7, 1fr);
    }



    @media screen and (max-width: 700px) {
        #achtergrond{
            max-width: 100px;
        }
      }


      .container {
        grid-template-columns: repeat(2, 1fr);
      }



      #achtergrond {
        margin: auto;
    
       
    }
    
    #banner {
        width: 1200px;
        height: 200px;
        margin: auto;
        position: absolute;
        top: 90px;
        left: 75px;
        
    
    
    
    }
    
    
    h1 {
        text-align: center;
        font-family: serif;
        position: absolute;
        margin-left: 5px;
        left: 145px;
        top: 215px;
    
    
    
    
    }
    
    header{
        margin-bottom: 0px;
    }
    * {
        padding: 0;
        margin: 0;
        font-family: Trebuchet MS;
       }
    







       #banner {

   
    
        width: 1200px;
        height: 200px;
        margin: auto;
        position: absolute;
        
        
        
        margin: 0 auto;
        margin-top: 50px;
    
    
    }