:root {
    --achtergrondkleur: rgb(236, 236, 236) ;
    --achtergrond_getuigenissen:grey ;
    }
    
    body {
    background-color: var(--achtergrondkleur);
    }
    
    .getuigenis{
        background-color: var(--achtergrond_getuigenissen);
    }